@import "bourbon/bourbon"

/* Sass based style sheet for markrank.net to implement responsive design for site.
 * used Bourbon (http://bourbon.io/) mixin lib 
 *
 * execute "sass markrank_flex.sass markrank_flex.css" to regenerate the css file */ 

$body-font: 'Open Sans', sans-serif
$body-font-size: 16px
$body-font-color: #303029
$section-color: #FFFFFF
$section-border-color: $body-font-color
$section-border-radius: 3px
$section-border: 3px solid $section-border-color
$section-opacity: .9
$section-max-width: 500px 
$tiles-max-width: $section-max-width
$tile-border-color: $body-font-color
$tile-color: #808069
$tile-header-color: $tile-border-color
$tile-header-text-color: $tile-color
$tile-border-radius: 3px
$tile-border: 3px solid $tile-border-color
$tile-space: 1em
$tile-margin: .5em
$tile-padding: ( $tile-space / 2 )
$btn-color: #808069
$btn-border-color: $body-font-color
$btn-border-radius: .5em
$btn-border: 3px solid $btn-border-color
$object-width: 125px 

* 
	box-sizing: inherit

*:before, *:after
	box-sizing: inherit

body
	box-sizing: border-box
	height: 100%
	font-family: $body-font
	font-size: $body-font-size
	font-weight: normal
	color: $body-font-color
	background-repeat: no-repeat
	background-position: center center
	background-attachment: fixed
	background-size: cover

h1
	font-size: ( 2 * $body-font-size )
	font-weight: bold

h2
	font-size: ( 1.5 * $body-font-size )

h3
	font-size: ( 1.25 * $body-font-size )

h4
	font-size: ( .5 * $body-font-size )

a:link, a:visited 
	color: $body-font-color 
	text-decoration: none

a:hover, a:active 
	color: $body-font-color 
	text-decoration: underline

.btn 
	background-color: $btn-color
	border-radius: $btn-border-radius
	border: $btn-border
	padding: ( $body-font-size / 8 ) ( .75 * $body-font-size )
	text-align: center
	font-size: ( 1.1 * $body-font-size )


.ps-section
	color: $body-font-color
	text-align: center
	background-color: $section-color
	border-radius: $section-border-radius
	border: $section-border
	opacity: $section-opacity
	max-width: $section-max-width

.tiles 
	@include align-items(stretch)
	@include display(flex)
	@include flex-direction(row)
	@include flex-wrap(wrap)
	@include justify-content(space-between)
	max-width: $tiles-max-width

.tiles .tile 
	@include flex(1)
	background-color: $tile-color
	border-radius: $tile-border-radius
	border: $tile-border
	margin: 0 $tile-margin $tile-space $tile-margin
	position: relative

.tile .tile-header
	background-color: $tile-header-color
	border-width: 2px
	border-color: $tile-border-color
	border-style: none none solid none
	color: $tile-header-text-color
	text-align: center
	font-size: ( 1.1 * $body-font-size )
	font-weight: bold

.tile .tile-face
	padding: ( $tile-padding ) ( $tile-padding )
	
.tile-face p
	text-align: left
	font-size: $body-font-size

.tile-face ul
	list-style-type: none

.tile-face li
	text-align: left
	font-size: $body-font-size
	width: $object-width
