

/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=33S0u0kllllaFw0g0qFqFg0w0aF */

/* As hex codes */

.color-primary-0 { color: #303C74 }	/* Main Primary color */
.color-primary-1 { color: #7B84AE }
.color-primary-2 { color: #515D91 }
.color-primary-3 { color: #172357 }
.color-primary-4 { color: #07103A }

.color-secondary-1-0 { color: #AA9B39 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #FFF4AA }
.color-secondary-1-2 { color: #D4C66A }
.color-secondary-1-3 { color: #807115 }
.color-secondary-1-4 { color: #554A00 }

.color-secondary-2-0 { color: #AA7339 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #FFD6AA }
.color-secondary-2-2 { color: #D4A16A }
.color-secondary-2-3 { color: #804C15 }
.color-secondary-2-4 { color: #552C00 }


a:link, a:visited {
	color: #07103A ;
    text-decoration: none;
}

a:hover, a:active {
	color: #07103A ;
    text-decoration: underline;
}

body.main {
    background: url(markrank_alt.jpg) no-repeat center center fixed;
    background-size: cover;
}

body.alt {
    background: url(markrank_alt2.jpg) no-repeat center center fixed;
    background-size: cover;
}

h1, h2, h3 {
    text-align: center;
}

div.block {
    color: #303C74 ;
    background-color: #FFF4AA;
    width: 300px;
    padding: 25px;
    border: 5px solid #07103A;
    margin: 25px;
    font-family: sans-serif;

}

div.textcenter {
	text-align: center;
}

ul {
	list-style-type: none;
	width: 70%;
}

li {
    background-color: #D4A16A;
    padding: 5px;
    margin: 5px;	
}
